.settings/
.project
.pydevproject
*.pyc
node_modules/
.vscode/
dist/
*_gen.html
config/nginx/static/
db.sqlite3

npm-debug.log*

mochawesome-report/
*/frontend/map/
.cache/
test_report/
*.db
.coverage
upload/